{% extends 'base.html' %} {% block content %}

<!-- Filtros de OS -->

<div class="form-group">
  <label for="searchInput">Procurar</label>
  <input type="text" class="form-control" id="searchInput" />
</div>
<div class="form-group">
  <label>Intervalo de tempo</label>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Data de início" />
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Data de fim" />
    </div>
  </div>
</div>
<div class="form-group">
  <label>Status</label>
  <div>
    <div class="custom-control custom-radio custom-control-inline">
      <input
        type="radio"
        id="status-all"
        name="status"
        class="custom-control-input"
      />
      <label class="custom-control-label" for="status-all">Todas</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input
        type="radio"
        id="status-active"
        name="status"
        class="custom-control-input"
      />
      <label class="custom-control-label" for="status-active">Ativas</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input
        type="radio"
        id="status-refused"
        name="status"
        class="custom-control-input"
      />
      <label class="custom-control-label" for="status-refused">Recusadas</label>
    </div>
  </div>
</div>

<hr />

<!-- Listagem de OS -->

<div class="container d-flex flex-column align-items-center">
  <div class="card my-2 fluid">
    <div class="card-body">
      <h5 class="card-title">Consertar ferrovia</h5>
      <p class="card-text">
        A ferrovia do treço 601 está com obstruções que podem ser prejudiciais
        aos veículos ferroviários. Devemos ...
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Criado por:</li>
      <li class="list-group-item">Criado em:</li>
      <li class="list-group-item">Endereço:</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Recusar</a>
      <a href="#" class="card-link">Aprovar</a>
      <a href="#" class="card-link">Editar</a>
    </div>
  </div>

  <div class="card my-2 fluid">
    <div class="card-body">
      <h5 class="card-title">Consertar ferrovia</h5>
      <p class="card-text">
        A ferrovia do treço 601 está com obstruções que podem ser prejudiciais
        aos veículos ferroviários. Devemos ...
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Criado por:</li>
      <li class="list-group-item">Criado em:</li>
      <li class="list-group-item">Endereço:</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Recusar</a>
      <a href="#" class="card-link">Aprovar</a>
      <a href="#" class="card-link">Editar</a>
    </div>
  </div>
</div>
{% endblock %}
